/config/**
!/config/gitlab.rb
!/config/gitlab-secrets.json
/data/**
!/data/backups
!/data/backups/**
/embedded/**
!/embedded/service/gitlab-rails/file_hooks
!/embedded/service/gitlab-rails/file_hooks/**
/logs

# IDE
.idea
